h2{
    color: black;
}

body{
    background: #B2DFDB;
}

#user{
    border-radius: 10px;
    background-color: #CFD8DC;
    border: 1px solid #455A64;    
}

#pass{
    border-radius: 10px;
    background-color: #CFD8DC;
    border: 1px solid #455A64;
    
}

#button{
    border-radius: 10px;
    background-color: #CFD8DC;
    border: 1px solid #455A64;
    font-size: 15px;
}

.form1{
    text-align:center;
    display: block;
    margin-left: 40%;
    margin-right: 40%;    
}



